<app-nav-bar></app-nav-bar>
<div class="topics">
  @for (topic of topics(); track topic.id) {
  <div class="topic-card">
    <h3 class="topic-name">{{ topic.name }}</h3>
    <p>Description: {{ topic.description }}</p>
    <div class="sub-div">
      <button
        type="button"
        class="subscribing"
        [disabled]="isSubscribed(topic.id)"
        (click)="subscribe(topic.id)"
      >
        {{ isSubscribed(topic.id) ? 'Déjà abonné' : "S'abonner" }}
      </button>
    </div>
  </div>

  }
</div>
