.topics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 2em 1em;
}

.topic-card {
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

h3 {
  margin: 0;
}
.topic-name {
  position: relative;
  font-size: 24px;
}
.sub-div {
  display: flex;
  justify-content: center;
}

.subscribing {
  cursor: pointer;
  border-radius: 10px;
  height: 3em;
  margin: 1em;
  width: 25%;
  min-width: 10em;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
}

.subscribing:disabled {
  cursor: default;
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .topics {
    grid-template-columns: repeat(1, 1fr);
  }
}
