.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px black;
  padding: 1em;
  width: 80%;
}
h2 {
  font-size: 1.5em;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

input {
  border: solid 2px var(--primary-color);
  border-radius: 5px;
  height: 2em;
  padding: 0 1em;
  width: 40vh;
}

.submit {
  cursor: pointer;
  border-radius: 10px;
  height: 3em;
  margin: 1em;
  width: 60%;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
}

.submit:disabled {
  cursor: default;
  background-color: var(--secondary-color);
}

.topics-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 90%;
}

.topic-card {
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.isUnsub {
  display: none;
}

.unsub-div {
  display: flex;
  justify-content: center;
}

.unsubscribing {
  cursor: pointer;
  border-radius: 10px;
  height: 3em;
  margin: 1em;
  width: 25%;
  min-width: 10em;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
}

@media (max-width: 768px) {
  .topics-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
