.homePage {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: fit-content;
}

.links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

button {
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  width: 156px;
}

@media (max-width: 768px) {
  .center {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
  }
  .links {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    grid-row: 2;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 80vh;
    grid-row: 1;
  }
}
