.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.details-section {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px black;
  padding: 1em;
  width: 80%;
}

.back-btn {
  position: absolute;
  top: 5em;
  left: 3em;
}

.article-datas {
  display: flex;
  gap: 5em;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 80%;
  gap: 2em;
}

.comment-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1em;
}

.comment-card {
  display: flex;
  align-items: center;
  gap: 3em;
  width: 80%;
}

.comment-content {
  background-color: var(--secondary-background-color);
  padding: 1em;
  width: 100%;
  border-radius: 10px;
}

.new-comment-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.comment-form {
  display: flex;
  width: 100%;
  justify-content: end;
}

// .new-comment {
//   position: absolute;
// }

.send {
  border: 0;
  color: var(--primary-color);
  background-color: transparent;
}

@media (max-width: 768px) {
  .comment-form {
    display: flex;
  }
}
