.create {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  position: absolute;
  top: 5em;
  left: 3em;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 30em;
}

h1 {
  font-size: 1.5em;
}

.input {
  width: 100%;
}
input,
select,
textarea {
  border-radius: 5px;
  height: 3em;
  width: 100%;
  border: solid 2px var(--primary-color);
}

input,
select {
  height: 3em;
}

textarea {
  height: 15em;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.submit {
  cursor: pointer;
  border-radius: 10px;
  height: 3em;
  margin: 1em;
  width: 50%;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
}

.submit:disabled {
  cursor: default;
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .create {
    padding: 1em;
  }
  .back-btn {
    position: static;
    padding: 0;
  }

  .form-header {
    width: 100%;
  }

  h1 {
    justify-self: center;
  }
}
